@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/app/images/lmc.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/app/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/app/css/font-awesome.css" />
    <script src="~/Home/Par"></script>
    <script src="~/app/directives/socket.io.js"></script>
    <script src="~/app/lib/js/require.js" data-main="@Url.Content("~/app/main.js")"></script>
    <title>WebChat</title>

</head>
<body>
    <div class="rootview main-bg" ui-view>

    </div>
</body>
</html>